


[scenario]
	#textdomain wesnoth-Northern_Rebirth
	id=chain_break
	name= _ "Breaking the Chains" 
	{SCENARIO_MUSIC "freedom.ogg"}

	[story]

	[part]
	story= _ "Before we begin I would just like to express my thanks to the following people for the generous use of their artwork: Jonathon Earl Bowser (www.jonathonart.com), Jim (www.sporeboy.com) and Mark Zug (http://www.markzug.com). I especially would like to thank Xandar86 and Jetryl for doing specific portraits for this campaign. For the translations, I would like to thank torangan, and scott for helping me set them up, Placid for the British-English, Belchion for the German, and Luciano for the italian translations. Special thanks also to all the members of the Wesnoth community who have given valuable feedback or helped whenever I got stuck with the code."

	[/part]
		[part]
		story= _ "Long ago, far to the north of Wesnoth, and just outside of the dwarven caves of Knalga, was a thriving community known as Dwarven Doors. Food and wood from all over Wesnoth and many elvish lands as well were sent here to be sold to the dwarves, while ores, metals and equipment from the dwarves were brought here to be distributed throughout the surface nations. As a result of all this trade, Dwarven Doors was a very rich and prosperous community."
		background=the_north.jpg
		[/part]
		[part]
		story= _ "Since Dwarven Doors lay directly in the path of enemies seeking to invade Knalga, the dwarves agreed to take responsibility for the the defense of the community. In order to achieve that end they built many towers and fortifications in and around the community."
		background=the_north.jpg
		[/part]
		[part]
		story= _ "The years that passed were peaceful and prosperous, that is until the orcs came... "
		background=the_north.jpg
		[/part]
		[part]
		story= _ "In a fierce battle that raged for one whole year, the orcs finally overpowered the combined defenses of the humans and dwarves."
		
		[/part]
		[part]
		story= _ "The dwarves were pushed back into the caves where the battle raged on for many more years, while the people of Dwarven Doors were enslaved by the orcs."
		
		[/part] 
		[part]
		story= _ "Many years passed as the people of Dwarven Doors worked as slaves for the orcs, until the day that Prince Konrad of Wesnoth passed through on his quest for the Scepter of Fire."
		background=years.jpg
		[/part]
		[part]
		story= _ "As the peasants watched Konrad and his men battle their way through the orcish host - and hearing how he himself was fighting to save his homeland from the rule of a tyrant - a hope rose in their hearts. Perhaps, one day they also could rid their homeland of the tyrannical orcs and be free once again."
		background=years.jpg
		[/part]
		[part]
		story= _ "Many more years passed but the peasants never gave up their hope. Rather, as time went on it became stronger and stronger. Finally, one day their chance came."
		background=years.jpg
		[/part]
		[part]
		story= _ "Al'tar, their 'master' was attacked by a neighboring tribe of orcs. Taking this opportunity, Tallin, a young, brave and intelligent peasant somehow managed to steal a considerable amount of his "master's" gold and flee to an abandoned ruin in the forest to rally his fellow peasants."
		[/part]
	[/story] 

	map_data="mmmmmmmmmmmmfmmmmmmmmfmmmmmmmmmmmmm
mmmmmmmmvmmhffmhmhmffmmmmhmhmvmmmmm
mmmmmvmmhhmvfmfvhhmffhhhmhhhhmmmmmm
mmmmmmhhfhhhmffffhhrhgmghhvhhgmmmmm
mmmmmmhffffNrfffffvfgggghghhErrmmmm
mmmfmmhhfNNNrfffffffggvgggNNrKhhmmm
mmhfmfvfrN1NffrfNgfggggggggggNhmhmm
mmmhffffNfNNfrrfNgggggggrrrggghhmmm
mmvhhhfffNfffEfggggggggErEEgvhghhmm
mhhghfvffffvfEgggvgggggvEfrgghhmhmm
hhhmggfgfffffgggggggggggffgghhhmhmm
hhmfggggggggfggggNgvggggfggghhhmmmm
hfffgvgggvgggvggrrNggggggfgggggghmm
fffhgggggfggggggrNrKgggggggggvghhvm
gfmhgggggffgggggrrNggggggggggghhhhm
gggvggggffffggggggggggvgggvgghhghhh
rggNNrggggfggggrgggfffgggggrgghnhgh
EEgrEEgggggggfrrggvfffgggggErgn3ngg
hvrhNgrgvggffNfrggNfffgggggEvgnnngg
mhhmhhgggggffNgErgggfggggrErgfffghv
mhmmhvhgggfvNggEgCggggggggrgfffhhmh
mmmmmmmggggggggEC2Cggggggggfvfhvhmm
mmmmmmhhggggggvgCCCggNggvggffhhmmmm
mmmmmhNggggvgggggggNffgggggfNNhmmmm
mmmgNKhggggggggggggvffgggggghhKmmmm
mmvgNNgggggfffrrggggffvgggggvNmmmmm
mmmNgggvgggfNffrEggggfgggggghhhmmmm
mmNhggggggggfgvgrgggggggggghhhmmmmm
mhhggggggggggggggggrgggggvghhmmmmmm
mghggggggggggggggvrErggggggmhhmmmmm
gvggggvfgfgggggggfEggggggghmhmhhmmm
gggggfffffvhggggffEgvggggghmmmmffff
ggggfffffhhhhmvgffffgggvhhhmmmhmfff
ggggfhffhmhmmhNNgffrffggNhmmmmmmmmm
gvggfmmmhmmmmmhNfffEffgghhhmmmmmmmm"

	{TURNS 45 35 30}
#ifdef NEWBIE 
turns=55
#endif 
	



	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}
	
	next_scenario=infested_caves
		
	
	

	{PLACE_IMAGE misc/dwarven-doors.png 32 4}
	
	[side]
	type=Peasant
	description=Tallin
	[modifications]
			{TRAIT_RESILIENT}
			{TRAIT_INTELLIGENT}
		[/modifications]
	canrecruit=1 
	side=1
	controller=human
	{GOLD 250 200 180}

#ifdef NEWBIE 
gold=300
#endif 

	recruit=Peasant
	[/side]
	
	[side]
	type=Orcish Warlord
	description=Al'Tar
	canrecruit=1
	side=2
	recruit=Orcish Grunt,Orcish Archer,Wolf Rider
	{GOLD 100 120 150}

#ifdef NEWBIE 
gold=80
#endif
	[ai]
	[target]
	description=Garrugch
	value=50
	[/target]
	[/ai]


	[/side]
	
	[side]
	type=Orcish Warrior
	description=Garrugch
	canrecruit=1
	side=3
	recruit=Orcish Grunt,Orcish Archer,Wolf Rider
	{GOLD 100 120 150}
	[ai]
	[target]
	description=Al'Tar
	value=50
	[/target]
	[/ai]
	

#ifdef NEWBIE 
gold=80
#endif
	[/side]

	[side]
	side=4
	type=Troll
	no_leader=yes
	[/side]
		
	[event]
	name=prestart
	[objectives]
		side=1
			[objective]
				description= _ "Defeat enemy leaders"
				condition=win
			[/objective]
			[objective]
				description= _ "Death of Tallin"
				condition=lose
			[/objective]
			
			[objective]
				description= _ "Turns run out"
				condition=lose
			[/objective]
		[/objectives]

	[/event]



	[event]
	name=start

	[unit]
	type=Peasant
	description=Supporter
	side=1
	x=10
	y=7
	[modifications]
			{TRAIT_STRONG}
			{TRAIT_RESILIENT}
		[/modifications]
	[/unit]	

		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "Quick you guyz, the orcs are killing each-other. This might be the only chance we got to be rid of these scum once and for all. Lets give it to em!"
		[/message]

		[message]
		description=Supporter
		message= _ "Brave words Tallin, but the idea is insane. We don't have any weapons, any armor, or any training. What are we going to fight them with, pitchforks!?"
		
		[/message]

		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "If we have to use pitchforks, then use pitchforks we shall. We easily outnumber the orcs, not to speak of the fact that they are killing each-other."
		[/message]

		[message]
		description=Supporter
		
		message= _ "But still Tallin, this is going to be a slaughter."
		[/message]

		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ " *sigh* Yes I know. But would you rather live as slaves to the orcs forever?"
		[/message]

		[message]
		description=Supporter
		
		message= _ "Never! I would rather die!"
		[/message]

		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "Then to arms!"
		[/message]

		[message]
		description=Al'Tar
		message= _ "You piece of dirt! How dare you step onto my land!"
		[/message]
		[message]
		description=Garrugch
		message= _ "You puny weakling, this land now belongs to my master! Surrender now and he MIGHT let you be his slave."
		[/message]
		[message]
		description=Al'Tar
		message= _ "Pahh! Grunts, attack! Whoever brings me his head will get five villages!"
		[/message]

		
	[/event]
	
	[event]
	name=die
	[filter]
	description=Tallin
	[/filter]
		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "I die now you orcish scum, but it is as a free man not your slave! But you know that your days are numbered! We will rise again and again until all your rotting carcasses lay stretched on the ground!"
		[/message]
		[message]
		description=Al'Tar
		message= _ "Pahh! Grunts, put the rest of those peasant rabble back in chains."
		[/message]
		[endlevel]
		result=defeat
		
		[/endlevel]
	[/event]
	
	
	[event]
	
		name=victory

		[message]
		description=Tallin 
		message= _ "YES! We did it! We are free!"
		image=Tallin.jpg
		[/message]
	
		[move_unit_fake]
			type=Orcish Grunt
			description=Un'Yin
			x=35,34,33
			y=16,16,16
		[/move_unit_fake]
		
		[unit]
		type=Orcish Grunt
		description=Un'Yin
		side=3
		x=33
		y=16
		[/unit]
	
		[message]
		description=Un'Yin
		message= _ "Garrugch failed in mission, but Al'tar dead by peasant slaves. Better tell master."
		[/message]
		[message]
		description=Un'Yin
		message= _ "Master needs more meat for wolves. Peasants good meat."
		[/message]

		[kill]
			description=Un'Yin
		[/kill]
		
		[move_unit_fake]
			type=Orcish Grunt
			x=33,34,35
			y=16,16,16
		[/move_unit_fake]

		[role]
		type=Master Bowman,Royal Guard,Halberdier,Swordsman,Pikeman,Longbowman,Javelineer,Bowman,Spearman,Peasant
		[not] 
 		description=Tallin 
		[/not] 
		role=Supporter
		[/role]
		
		[message]
		role=Supporter
		
		message= _ "Uh oh! That orc has gone to tell his leader that we are now free. Soon they will be here in hordes to enslave us again... or worse..."
		[/message]
		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "Don't worry, I think I have a way out of that."
		[/message]

		[message]
		role=Supporter
		
		message= _ "Eh?"
		[/message]
		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "Lets head into the caves and find out if there are any dwarves still alive. Perhaps they will be able to make us some proper weapons and armor. And then, when the orcs come back, well show em!"
		[/message]
		[message]
		role=Supporter
		
		message= _ "Enter the caves! Find the dwarves! Have you gone completely insane? The caves are infested with trolls and orcs. There are even rumors that the dwarves who died trying to defend Knalga are rising again and destroying anyone they come across. And we can't fight in caves! We can hardly even walk in the caves without tripping and killing ourselves, let alone fight!"
		[/message]
		[message]
		description=Tallin
		image=Tallin.jpg
		message= _ "Not so. All you night-crawlers and hunters get yourselves the bows from the dead orcs or whatever else you can find. With you guyz in the forefront I am sure we'll be able to manage. I know, it'll be tough and dangerous but I don't see any other way around it." 
		[/message]
		[message]
		speaker=narrator
		message= _ "You can now recruit Thugs and Poachers"
		[/message]
		
	[/event]
	
	[event]
	name=moveto
	first_time_only=yes
		[filter]
		side=1
		x=32
		y=4
		[/filter]
		
		[message]
		speaker=unit
		message= _ "This is one of the the entrances to the dwarven caves."
		[/message]
		[message]
		speaker=unit
		message= _ "Aaaaah! Trolls! The caves are infested with trolls!"
		[/message]
		
		[unit]
		type=Troll Whelp
		side=4
		x=31
		y=4
		[/unit]

		[unit]
		type=Troll Whelp
		side=4
		x=33
		y=4
		[/unit]
	
		[unit]
		type=Troll Whelp
		side=4
		x=33
		y=5
		[/unit]

		[unit]
		type=Troll Whelp
		side=4
		x=32
		y=5
		[/unit]
		
		[unit]
		type=Troll
		side=4
		x=32
		y=3
		[/unit]
	[/event]

	[event]
	name=die
		[filter]
		description=Al'Tar
		[/filter]
		
		[message]
		speaker=unit
		message= _ "What the... *gurgle* Hey! Look... a slave... uprising!"
		[/message]
		
		[message]
		speaker=second_unit
		message= _ " *STAB*"
		[/message]
		
		[message]
		speaker=unit
		message= _ "Ugh!"
		[/message]
		
		[message]
		speaker=second_unit
		message= _ "Not a very bright one was he?"
		[/message]

	[/event]

	[event]
	name=die
		[filter]
		description=Garrugch
		[/filter]
		
		[message]
		speaker=unit
		message= _ "No! I have failed in my  mission!"
		[/message]
		
		[message]
		speaker=second_unit
		message= _ "Mission? What mission?"
		[/message]
	[/event]

	[event]
	name=attack
		[filter]
		side=2
		[/filter]

		[filter_second]
		side=3
		[/filter_second]

		{SUPPORTER}

		[message]
		role=Supporter
		
		message= _ "Ha Ha! Look at them go."
		[/message]

	[/event]

		[event]
		name=attack
		[filter]
		side=3
		[/filter]

		[filter_second]
		side=2
		[/filter_second]

		{SUPPORTER}

		[message]
		role=Supporter
		
		message= _ "Ha Ha! The fools are killing eachoter!"
		[/message]

	[/event]
	

[/scenario]